<mat-card class="example-card" rowHeight=100px>
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Slack</mat-card-title>
      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <img mat-card-image src="assets/img/SlackImage.png" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
       Just One Click You can easily integrate Proflo with Slack 
      </p>
    </mat-card-content>
    <mat-card-actions class="action">
        <button mat-raised-button color="primary" class="l">Add</button>
    </mat-card-actions>
  </mat-card>
  